<div class="container">
  <h2> URL SHORTENER </h2>
  <br>
  <form action="/urls" method="post">
  <input type="text" name="long_url"/>
  <input id="button" type="submit"/>

  <% if params[:flash] == 'success' %>
  <div class= "feedback" id="success">
    Success!
    Your short link is:
    <br>
    <a href = '/<%= params[:short_url] %>'>
    localhost:9393/<%= params[:short_url]%> 
  </a>
  </div> 

  <% elsif params[:flash] == 'error' %>
  <div class = "feedback"id="error">
    "Your link must begin with http://"
  </div> 

  <% end %>
</div>
